In [1]:
# Find out which geometries are available in the database, and which documents don't
from data_pipeline.add_geo_boundary.geo_boundary_utils import get_info 

get_info()

Documents Without Geo Boundaries:

,0,1
0,Boston Spa Neighbourhood Development Plan,5b0f37f785e84ccdb7d87be2454edf3a
1,Clifford Neighbourhood Plan,488f4901cac478cb2bff21dfa296c987
2,Linton Neighbourhood Plan,a0c9eab10cb0dfb96a3f413c026ba148
3,National Planning Policy Framework,5e535437c01439a4611ea0c5babfc624
4,Oulton and Woodlesford Neighbourhood Development Plan: 2021 – 2033,977c4f823c03d2f65ebfaee7f76031c1
5,"Retail, Housing, Employment and Green Space Overview",b5f1fd972f0eb17c6e66499e3e9ad7cf
6,Thorp Arch Neighbourhood Development Plan,dbd0f68035521393387db209308dcca3

All Geo Boundaries:

                               0    1
0                       Aberford  358
1                      Addingham  359
2                           Adel  360
3                    Aireborough  380
4                    Aire Valley  379
5                      Alwoodley  356
6             Bardsey cum Rigton  361
7   Barwick in Elmet and Scholes  362
8         Bramham cum Oglethorpe  363
9                    City Centre  381
10                    Collingham  364
11                      Garforth  365
12                    Headingley  367
13                       Holbeck  368
14                     Horsforth  369
15                        Kippax  370
16                         Leeds  392
17                    Leeds East  382
18              Leeds Inner Area  383
19                   Leeds North  384
20        Leeds Outer North East  385
21        Leeds Outer North West  386
22             Leeds Outer South  387
23        Leeds Outer South East  388
24        Leeds Outer South West  389
25              Leeds Outer West  390
26                        Newham  391
27                         Otley  371
28                        Rawdon  372
29                     Scarcroft  373
30                        Walton  374
31                      Wetherby  378

In [3]:
from data_pipeline.add_geo_boundary.geo_boundary_load import link_document_to_geo_boundary # Link existing document to geo boundary
link_document_to_geo_boundary('e51fdb9d556911405eb4106ba735bc10', 392)

Successfully linked document_id: e51fdb9d556911405eb4106ba735bc10 to geo_boundary_id: 392.

In [1]:


from data_pipeline.add_geo_boundary.geo_boundary_extract import geo_boundary_extract_from_url 
from data_pipeline.add_geo_boundary.geo_boundary_load import add_geo_boundary 
url = 'https://mapit.mysociety.org/area/2526.geojson'
geometry_json = geo_boundary_extract_from_url(url)
add_geo_boundary('e51fdb9d556911405eb4106ba735bc10', 'Leeds', geometry_json)

Geo boundary with name 'Leeds' already exists.

In [ ]:
# Add geo boundary to database from file 

import json
from postgres import Postgres

pg = Postgres()

# Fetch GeoJSON data from URL
with open('files/geo_boundaries/leeds_outer_west.geojson', 'r') as file:
    geojson_data = json.load(file)

geometry_json = json.dumps(geojson_data)
print("Fetched GeoJSON data from URL")
name="Leeds Outer West"
insert_query = """
INSERT INTO geo_boundaries (name, geom)
VALUES (%s, ST_GeomFromGeoJSON(%s))
"""
pg.insert(insert_query, (name, geometry_json))